body{
    background-image: url(./images\ 3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
nav{
   background-color: lightblue;
   padding: 20px;
}
a{
  text-decoration: none;
  color: darkblue;
  font-size: x-large;
  margin: 100px;
  height: 20px;
}
a:hover{
   color: darkcyan;
}
.active{
   color: darkcyan;
}